.stm_nft_packs_carousel {
  max-width: 1554px;
  width: 100%;
  margin: auto;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto 40px;
}
@media screen and (max-width: 1024px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_header {
    max-width: 940px;
  }
}
@media screen and (max-width: 992px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_header {
    max-width: 720px;
  }
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_title {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_title {
    font-size: 32px;
  }
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_navigation {
  display: -ms-flexbox;
  display: flex;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_navigation .prev,
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_navigation .next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #ffffff;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_navigation .prev i,
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_navigation .next i {
  font-size: 17px;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_header .stm_nft_packs_carousel_navigation .next {
  margin-left: 10px;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides.owl-carousel {
  opacity: 0;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides.owl-carousel.owl-loaded {
  opacity: 1;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides.owl-carousel .owl-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card {
  max-width: 366px;
  border: 2px solid #222222;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  transition: 0.3s ease;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 420px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card {
    max-width: 100%;
  }
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_overlay {
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #111111 75%);
  display: block;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: 0;
  border-radius: 20px;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card:hover .stm_nft_packs_carousel_card_image {
  transform: rotate(5deg);
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_image {
  height: 262px;
  width: 300px;
  display: block;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_image .stm_nft_packs_carousel_card_mask {
  position: absolute;
  top: 13px;
  right: 22px;
  width: 238px;
  height: 238px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: url("../../../images/disc-mask.svg");
          mask-image: url("../../../images/disc-mask.svg");
  -webkit-mask-size: 238px;
          mask-size: 238px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_title {
  margin: 20px 0 0;
  padding: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_description {
  color: #888888;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 10px;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices {
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 15px;
}
@media screen and (max-width: 1366px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices .stm_nft_packs_carousel_card_crypto_price {
  margin-right: 9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices .stm_nft_packs_carousel_card_crypto_price i {
  font-size: 28px;
  margin-right: 9px;
}
@media screen and (max-width: 1366px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices .stm_nft_packs_carousel_card_crypto_price i {
    font-size: 14px;
    margin-right: 5px;
    margin-top: -2px;
  }
}
@media screen and (max-width: 576px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices .stm_nft_packs_carousel_card_crypto_price i {
    font-size: 28px;
    margin-right: 9px;
    margin-top: 0;
  }
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices .stm_nft_packs_carousel_card_price {
  color: #888888;
}
@media screen and (max-width: 1366px) {
  .stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_prices .stm_nft_packs_carousel_card_price {
    margin-left: 2px;
  }
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_btn {
  height: 50px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  padding: 0 30px;
  border-radius: 50px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.stm_nft_packs_carousel .stm_nft_packs_carousel_slides .stm_nft_packs_carousel_card .stm_nft_packs_carousel_card_bottom .stm_nft_packs_carousel_card_btn:hover {
  background-color: #ffffff;
}