.stm_icon_links a {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 46px;
  height: 46px;
  border: 2px solid #ffffff;
  border-radius: 46px;
  text-decoration: none;
  color: #ffffff;
}
.stm_icon_links a i {
  font-size: 16px;
}
.stm_icon_links.text-left a:not(:last-child) {
  margin-right: 20px;
}
.stm_icon_links.text-center a {
  margin: 0 10px;
}
.stm_icon_links.text-right:not(:last-child) {
  margin-left: 20px;
}