.stm_nft_tabs {
  max-width: 1584px;
  width: 100%;
  margin: auto;
}
.stm_nft_tabs .stm_nft_tabs_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1160px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .stm_nft_tabs .stm_nft_tabs_header {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.stm_nft_tabs .stm_nft_tabs_header .stm_nft_tabs_title {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .stm_nft_tabs .stm_nft_tabs_header .stm_nft_tabs_title {
    font-size: 32px;
  }
}
.stm_nft_tabs .stm_nft_tabs_header .stm_nft_tabs_categories {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 1024px) {
  .stm_nft_tabs .stm_nft_tabs_header .stm_nft_tabs_categories {
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .stm_nft_tabs .stm_nft_tabs_header .stm_nft_tabs_categories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.stm_nft_tabs .stm_nft_tabs_header .stm_nft_tabs_categories .stm_nft_tabs_category {
  height: 45px;
  border-radius: 45px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.stm_nft_tabs .stm_nft_tabs_posts {
  margin-top: 45px;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 15px;
  width: 25%;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper.hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper {
    width: 100%;
    padding: 15px 0;
  }
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post {
  border-radius: 20px;
  border: 2px solid #333333;
  max-width: 366px;
  width: 100%;
  transition: 0.3s ease;
  position: relative;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_badge {
  position: absolute;
  left: -2px;
  top: -2px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  z-index: 3;
  text-transform: uppercase;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_image {
  border-radius: 20px;
  overflow: hidden;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner {
  padding: 30px;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_title {
  margin: 0 0 11px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices {
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 15px;
}
@media screen and (max-width: 1366px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices .stm_nft_tabs_post_crypto_price {
  margin-right: 9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices .stm_nft_tabs_post_crypto_price i {
  font-size: 28px;
  margin-right: 9px;
}
@media screen and (max-width: 1366px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices .stm_nft_tabs_post_crypto_price i {
    font-size: 14px;
    margin-right: 5px;
    margin-top: -2px;
  }
}
@media screen and (max-width: 576px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices .stm_nft_tabs_post_crypto_price i {
    font-size: 28px;
    margin-right: 9px;
    margin-top: 0;
  }
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices .stm_nft_tabs_post_price {
  color: #888888;
}
@media screen and (max-width: 1366px) {
  .stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_tabs_post_prices .stm_nft_tabs_post_price {
    margin-left: 2px;
  }
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_post_btn {
  height: 50px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  padding: 0 30px;
  border-radius: 50px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.stm_nft_tabs .stm_nft_tabs_posts .stm_nft_tabs_post_wrapper .stm_nft_tabs_post_inner .stm_nft_tabs_post_bottom .stm_nft_post_btn:hover {
  background-color: #ffffff;
}
.stm_nft_tabs .stm_nft_tabs_load_more_btn {
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  padding: 0 30px;
  border-radius: 50px;
  border: 2px solid #d3ff5c;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
  margin: auto;
  margin-top: 50px;
}
.stm_nft_tabs .stm_nft_tabs_load_more_btn:hover {
  border-color: #ffffff !important;
  color: #ffffff !important;
  background: transparent !important;
}