.stm_nft_featured {
  max-width: 495px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  border: 2px solid #222222;
}
.stm_nft_featured.stm_nft_featured_position_right {
  margin-left: auto;
}
.stm_nft_featured.stm_nft_featured_position_left {
  margin-right: auto;
}
.stm_nft_featured.stm_nft_featured_position_center {
  margin: auto;
}
.stm_nft_featured .stm_nft_featured_image {
  border-radius: 10px;
  overflow: hidden;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
}
.stm_nft_featured .stm_nft_featured_info {
  padding: 30px;
}
@media screen and (max-width: 420px) {
  .stm_nft_featured .stm_nft_featured_info {
    padding: 20px 15px;
  }
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 480px) {
  .stm_nft_featured .stm_nft_featured_info .stm_nft_featured_header {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_header .stm_nft_featured_title {
  font-size: 18px;
  color: #ffffff;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom .stm_nft_featured_price {
  position: relative;
  padding-top: 21px;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom .stm_nft_featured_price .stm_nft_featured_crypto_value {
  font-size: 24px;
  font-weight: 500;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom .stm_nft_featured_price .stm_nft_featured_value {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom .stm_nft_featured_price .stm_nft_featured_price_label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom .stm_nft_featured_btn {
  border: 2px solid #ffffff;
  font-weight: 500;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 30px;
  font-size: 14px;
  color: #ffffff;
}
.stm_nft_featured .stm_nft_featured_info .stm_nft_featured_bottom .stm_nft_featured_btn:hover {
  background-color: #ffffff;
}
.stm_nft_featured .stm_nft_featured_live_auction {
  position: absolute;
  width: 150px;
  height: 150px;
  right: -75px;
  top: 70px;
  animation: spin 10s linear infinite;
}
@media screen and (max-width: 480px) {
  .stm_nft_featured .stm_nft_featured_live_auction {
    width: 128px;
    height: 128px;
    right: 32px;
    top: -64px;
  }
}
.stm_nft_featured .stm_nft_featured_live_auction img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.stm_nft_featured .countdown_box .stm_countdown {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  height: 26px;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box {
  min-width: 1em;
  margin: 0;
  border: none;
  height: auto;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box:not(:last-child) {
  margin-right: 13px;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box:not(:last-child):after {
  content: ":";
  display: inline-block;
  position: absolute;
  right: -8px;
  color: #ffffff;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box:nth-child(4) {
  margin-right: 0;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box:nth-child(4):after {
  display: none;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box:nth-child(5), .stm_nft_featured .countdown_box .stm_countdown .count-box:nth-child(6), .stm_nft_featured .countdown_box .stm_countdown .count-box:nth-child(7), .stm_nft_featured .countdown_box .stm_countdown .count-box:nth-child(8) {
  display: none;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box .position {
  font-size: 18px;
  color: #ffffff;
  height: auto;
  line-height: 1em;
  padding: 0.5em;
  width: auto;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box .position .digit {
  right: 0;
}
.stm_nft_featured .countdown_box .stm_countdown .count-box .countdown_label {
  display: none;
}